<a href="https://colab.research.google.com/github/okana2ki/intro-to-DS/blob/main/ds13_2v3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# `SSDSE-C-2024.csv`の読み込み

In [ ]:
import pandas as pd

url = "https://www.nstac.go.jp/sys/files/SSDSE-C-2024.csv"
df = pd.read_csv(url, header=1, encoding="shift_jis")
print(df)

     地域コード  都道府県      市  世帯人員   食料（合計）  01　穀類      米    食パン   他のパン  生うどん・そば  \
0   R00000    全国     全国  2.91   991375  79156  20695  10374  22201     3617
1   R01100   北海道    札幌市  2.78   927878  77764  24470   9315  18880     3199
2   R02201   青森県    青森市  2.83   930707  75496  20421   8526  18440     3527
3   R03201   岩手県    盛岡市  3.03   980028  80403  22223   8565  21070     3365
4   R04100   宮城県    仙台市  2.95  1003139  78668  19465   9804  22211     3252
5   R05201   秋田県    秋田市  2.73   952812  71734  18662   7918  17541     3616
6   R06201   山形県    山形市  3.12  1028010  80677  23953   8577  17589     4580
7   R07201   福島県    福島市  2.97  1008727  78797  23328   8755  19307     3287
8   R08201   茨城県    水戸市  2.72   925488  69443  18038   9339  17648     3505
9   R09201   栃木県   宇都宮市  2.89  1025725  76964  18479  10544  20407     3551
10  R10201   群馬県    前橋市  2.80   970070  80153  21711   9663  23167     4681
11  R11100   埼玉県  さいたま市  3.05  1117566  82203  20549  10502  24305     3737
12  R12100   千葉県    千葉市  2.73  1092272  81668  20073  11200  24522     3600
13  R13100   東京都  東京都区部  2.89  1158785  81898  19396  11734  24302     3297
14  R14100  神奈川県    横浜市  2.84  1087765  82392  20849  11329  22720     3460
15  R15100   新潟県    新潟市  3.10  1024877  88960  26224  11137  23014     2800
16  R16201   富山県    富山市  2.98  1070998  86928  24715  11357  21859     3642
17  R17201   石川県    金沢市  3.19  1067957  87080  23811  11923  23309     3974
18  R18201   福井県    福井市  2.99   941113  80235  25272   9024  21741     3796
19  R19201   山梨県    甲府市  2.85   958026  77583  21108   8989  21657     4144
20  R20201   長野県    長野市  2.86   957055  77713  20809   9002  20664     4589
21  R21201   岐阜県    岐阜市  2.94   989959  77553  20926  11048  20390     3462
22  R22100   静岡県    静岡市  2.91  1037144  84820  27075   9823  22332     3084
23  R23100   愛知県   名古屋市  2.92  1037653  81685  20555  11596  22279     4485
24  R24201   三重県     津市  2.91   966557  74330  16386  10352  22470     3671
25  R25201   滋賀県    大津市  2.89  1045999  86334  21235  11761  26461     4047
26  R26100   京都府    京都市  2.86  1065735  86535  22196  12555  26702     4283
27  R27100   大阪府    大阪市  2.89  1025547  85215  22920  11542  24527     3872
28  R28100   兵庫県    神戸市  2.79  1036379  82876  19348  13634  25052     3887
29  R29201   奈良県    奈良市  2.83  1035966  81010  19532  12396  22910     3532
30  R30201  和歌山県   和歌山市  2.81   887962  82976  23529  11494  24332     3408
31  R31201   鳥取県    鳥取市  2.99   899166  74554  19285  10906  19496     3414
32  R32201   島根県    松江市  2.97   932935  75233  19416  10856  18398     3789
33  R33100   岡山県    岡山市  3.02   947976  76885  15918  10544  24955     3357
34  R34100   広島県    広島市  2.97   990979  80427  18881  11155  24559     3232
35  R35203   山口県    山口市  2.81   931268  73544  18234  10031  20829     3742
36  R36201   徳島県    徳島市  2.86   948477  75652  18423  10709  23008     3251
37  R37201   香川県    高松市  2.72   944594  75634  16106  11643  20156     6294
38  R38201   愛媛県    松山市  2.82   864265  73939  17237   9258  23869     3505
39  R39201   高知県    高知市  2.85   969519  74224  19117  11375  20205     3481
40  R40130   福岡県    福岡市  2.95   976208  78631  19986   9884  24897     2782
41  R41201   佐賀県    佐賀市  2.82   913685  71160  19868   9057  20078     2645
42  R42201   長崎県    長崎市  2.83   928614  83248  25454   9801  24075     2794
43  R43100   熊本県    熊本市  3.00   942704  72177  21074   8808  19920     2470
44  R44201   大分県    大分市  2.77   919201  68058  18468   8513  19332     2658
45  R45201   宮崎県    宮崎市  2.84   903289  69087  20319   8304  19007     3193
46  R46201  鹿児島県   鹿児島市  2.83   923259  74076  21573   8223  21118     2741
47  R47201   沖縄県    那覇市  2.97   876036  75230  25527   9190  19147     1953

    ...  すし（外食）     和食   中華食     洋食     焼肉  ハンバーガー  他の主食的外食    喫茶代    飲酒代  \
0   ...   14320  21156  4250  10162   6859    5711    44573   7621  10022
1   ...   17474  21403  3255  13998   7193    4152    24593   5491  11936
2   ...   12312  14359  2287   7104   6445    4522    17807   3252   6424
3   ...   13385  11332  2133   5571   7280    4571    30942   4379   9147
4   ...   13369  20059  2800  10008   5289    5664    26936   7124  11362
5   ...   15195  15785  1964   5841   7753    3748    24990   3845   9315
6   ...   16976  19344  4323  12029   9248    5139    18627   5363   9276
7   ...   15658  24402  3251  10342   5024    5292    21355   4588   7944
8   ...   12799  20614  4661  14166   5336    5685    27946   6232   8164
9   ...   16209  26986  5780  16710   6827    6997    37550   7447   9431
10  ...   11335  17453  3949  12157   7239    5549    38499   5885   9825
11  ...   15224  23933  3947  11988   8939    7400    70563  10326  16269
12  ...   14276  21728  5821  12253   6211    7075    60425   8345  11609
13  ...   16174  25335  6738  14794   7814    6315    77982  11598  21039
14  ...   14973  24727  7444  15536   6534    5448    58439  10076  13086
15  ...   14458  17222  3154   7076   5248    5182    30847   5839   8877
16  ...   17453  28886  5184  13558   8464    5688    28580   6713  14003
17  ...   22802  29170  4769  12989   9260    5070    36054   8484  11098
18  ...   15459  22116  3210   8362   8400    4057    31760   5379   8222
19  ...   13393  21236  3560   9542   4784    6054    34694   7190   6874
20  ...   14577  16446  3345   8952   5792    5140    39779   5905  10955
21  ...   19752  40232  8220  17470   9043    6169    33169  14400   7212
22  ...   19768  28124  5872  14180   6776    6352    31607   5902  13034
23  ...   17974  32905  6252  16559  10410    6077    61702  12308   9418
24  ...   13024  21497  3896   6817   6366    5260    56166   6401   8842
25  ...   12906  19724  5072   8953   6619    6445    57163   8589  10312
26  ...   15613  19118  5232  10097   7124    5317    62920   8882   7258
27  ...   14700  23363  5185   7778   6879    6263    48980   7560   8502
28  ...   12248  22924  7471  10668   6651    5312    67277   9284  13794
29  ...   15684  24074  5406   9531   5933    6716    48802   7952   8471
30  ...   10886  16981  3941   6634   4592    4574    40024   5042   3678
31  ...   14979  21562  3686   8139   6029    4634    27654   5299   7729
32  ...   13661  20500  3432   6153   8140    5773    29171   5704  11189
33  ...   12072  18013  3560   7385   9903    5913    50255   7334   8249
34  ...   14176  23571  3511   8046   7527    7373    45235   7084  10942
35  ...   13850  22211  3173  11431   8574    5313    21282   5346   8067
36  ...   14083  24020  4658   9013   6632    7544    47550   7254   8082
37  ...   14263  32641  5676  14768   9113    5635    20541   7234  11420
38  ...    9422  13935  2276   3415   6260    4988    39125   3971   6070
39  ...   16590  24485  5425  12896  13793    7508    30086   5944  20488
40  ...   12459  20164  3871   9260   6964    7108    54532   7582  13826
41  ...   12788  31086  3296  12854   8980    5156    19201   5430   9913
42  ...    9465  14454  2489   5790   4388    4222    43146   4956   6230
43  ...   13932  20301  3363   8057   7533    7520    47898   5733  12277
44  ...   12356  19294  2516   7537  11712    6406    33069   5600  10069
45  ...   12186  18157  1396   6697   6553    5251    37490   4347   6877
46  ...   12886  21938  2048   8670   7750    7175    40886   4803   8946
47  ...    7210  14946  1536   6342   3673    6802    45955   5328   9633

     学校給食
0    9402
1   13392
2    7373
3   11492
4   10454
5   12760
6   14005
7   14751
8    9780
9   11284
10  12270
11  13271
12   8748
13   7152
14   7274
15  11515
16  10900
17  17600
18  13568
19   8854
20  12982
21  10522
22  11901
23   8476
24   8808
25  12049
26   8238
27   1277
28   6192
29   9189
30   3969
31  16583
32  14588
33  13521
34   8855
35  14774
36  13541
37   9405
38   9351
39  12112
40  13896
41   8801
42   7422
43  15028
44  11968
45  11298
46  10728
47   9624

[48 rows x 229 columns]

## AIへのデータ解説

**この後、AIにプログラム作成を依頼したときに、このデータを適切に解釈してもらえるように、↓下のセルで、コメント行の形で、このデータの形式と内容を（AIに対して）説明しておく。←これは重要です。これがあるのとないのとでは、適切なプログラムが生成される可能性が大きく変わるはず。**試しに、下記のセルよりも上のセルでAIに依頼して比べてみて下さい（AIは依頼したセルよりも下は読み込まないので）。（もちろん、プログラム作成を依頼するときに、このような情報を付けて依頼することもできる。）

↓下のセル内の
説明は、[サイト](https://www.nstac.go.jp/use/literacy/ssdse/) に掲載されている[データ解説PDFファイル](https://www.nstac.go.jp/sys/files/kaisetsu-C-2024.pdf) に基づいて書きました。（AIだけでなく）皆さんも、この解説PDFに目を通してからデータ分析するようにして下さい。

`header=1`と指定したため、変数`df`は、元のCSVファイルから、1行目を削除した内容になっていることに注意して下さい。

In [ ]:
# dfデータの解説
# データのレイアウト
# 1行目は項目名、それ以下の48行がデータ。データ行は、「全国」と「47都道府県庁所在市」に対応。
# 列は、最初の3列が地域情報を示す。1行目から順に「地域コード」「都道府県」「市」を示す。
# 4列目以降がデータで、4列目から順に「世帯人員」「食料（合計）」と続くが、5列目は、食品（合計）に対する1世帯当たり年間支出金額で、
# 6列目以降は、食品の品目ごとの1世帯当たり年間支出金額のデータである。
# なお、次の12個の列は、それぞれ、それ以降の列の小計になっている：「穀類」「魚介類」「肉類」「乳卵類」「野菜・海藻」「果物」「油脂・調味料」「菓子類」「調理食品」「飲料」「酒類」「外食」

## グラフ中の日本語表示を可能にする

AIに依頼すると、グラフ中に日本語表示するプログラムを作成することがあるため、グラフ中に日本語が表示できるように、あらかじめ、下記の2つのコードセルを実行しておきましょう。

In [ ]:
!pip install japanize_matplotlib

In [ ]:
import japanize_matplotlib

# データのランキング

ランキングとは、順位付けです。たとえば、宮崎は餃子への支出額が一位とか、そういうやつです。

In [ ]:
# 数値データ列だけを対象に(numeric_only=True)、列ごとに降順でランキング
df_rank = df.rank(numeric_only=True, ascending=False)
print(df_rank)

In [ ]:
df_city = df[['市']]  # 上記のランキングには市の列が含まれないので、別途、市の列を抽出
print(df_city)

In [ ]:
# 市のDataFrameとランキングのDataFrameを連結→市の列を含むランキングが完成
df_city_rank = pd.concat([df_city, df_rank], axis=1)
print(df_city_rank)

In [ ]:
# prompt: df_city_rankから、宮崎市の行を抜き出して下さい。

# 宮崎市の行を抽出
df_miyazaki_rank = df_city_rank[df_city_rank['市'] == '宮崎市']

# 結果を表示
df_miyazaki_rank

In [ ]:
# prompt: 宮崎が上位１５位以内の品目名とランキングを抽出して下さい。

# 列名を取得
columns = df.columns[3:]  # dfの最初の3列は地域情報なので除外

# 上位15位以内の品目名とランキングを抽出
miyazaki_top15 = {}
for col in columns:
    rank = df_miyazaki_rank[col].iloc[0]
    if rank <= 15:
        miyazaki_top15[col] = rank

# 結果を表示
for item, rank in miyazaki_top15.items():
    print(f"品目名: {item}, ランキング: {rank}")

## 演習問題

同様に、宮崎が46位以降（少ない方から3位以内）の品目名とランキングを表示するプログラムを作って下さい。AIに頼んでもよいですが、自分でもできると思います。

`if rank <= 15:`

の代わりに、

`if rank >= 46:`

とすると良さそうですね。

In [ ]:
df_miyazaki_rank_t = df_miyazaki_rank.T
# .Tによる転置（行と列の入れ替え）←後の処理の都合で転置しておいた方が便利そうなので
print(df_miyazaki_rank_t)

In [ ]:
import matplotlib.pyplot as plt
import japanize_matplotlib  # 日本語対応（グラフ中で日本語が表示できるようにする）

df_miyazaki_rank_t.drop(df_miyazaki_rank_t.index[[0]]).plot.bar(figsize=(40,5))
# 数値データでない0行目を削除(.drop)して棒グラフを表示(.plot.bar)

## 演習問題
以上の結果から、宮崎は食料品消費額ランキング上位の品目は少なく、消費額ランキング下位の品目が多いことが分かりますね。この傾向は、食料（合計）のランキングが43位（下から6番目）であることにも表れています。

宮崎は物価が安いから消費額が少ないのか、年収が少ない人が多いから少ないのか、それぞれがどれくらい効いて、このような結果になっているのでしょうか？
[エンゲル係数](https://www.rakuten-card.co.jp/minna-money/topic/article_2103_00007/)の話は、これを考察する上で参考になりそうですね。
いずれにせよ、このことをちゃんと分析・考察するには、物価のデータや、年収のデータを合わせて調べる必要があります。
興味がある人は調べてみて下さい。

## 演習問題

**品目ごとの消費額を食料品全体の消費額（食料（合計））で割り算して、割合でランキング**すると、宮崎の特徴を表す別の傾向が見えそうです。ぜひ分析してみて下さい。地域ごとの物価の違いの影響をある程度抑えて、それぞれの市がどのような消費傾向を持っているかが見えるのではないかと思います。ただし、「宮崎ではピーマンが安い」のような個々の品目の価格の違いの影響は残ったままです。宮崎では全体として食品の物価が安いという傾向（があるとしたら、それ）は打ち消せるのですが。都市ごとの年収の違いの影響も抑えられるかな・・・

以下は、私がAIに依頼して作成した、割合でランキングするプログラムです。

In [ ]:
# prompt: 品目ごとの消費額を食料品全体の消費額（食料（合計））で割り算して、割合でランキングするプログラムを書いて下さい。

# 食料品全体の消費額（食料（合計））の列名を取得
total_food_expenditure_column = '食料（合計）'

# 各品目の消費額を食料品全体の消費額で割って割合を計算し、新しいDataFrameを作成
df_ratio = df.copy()  # 元のDataFrameをコピー
for col in df.columns[5:]:  # 6列目以降（品目ごとの消費額）をループ
    df_ratio[col] = df_ratio[col] / df_ratio[total_food_expenditure_column]

# 割合でランキング
df_ratio_rank = df_ratio.rank(numeric_only=True, ascending=False)

# 市の列を追加
df_city_ratio_rank = pd.concat([df['市'], df_ratio_rank], axis=1)

# 結果を表示
print(df_city_ratio_rank)

# 宮崎市の割合ランキングを表示
df_miyazaki_ratio_rank = df_city_ratio_rank[df_city_ratio_rank['市'] == '宮崎市']
print(df_miyazaki_ratio_rank)

# 上位15位と下位3位の品目とランキングを抽出
miyazaki_top15 = {}
miyazaki_bottom3 = {}
columns = df.columns[5:] # 品目ごとの列名を取得
for col in columns:
    rank = df_miyazaki_ratio_rank[col].iloc[0]
    if rank <= 15:
        miyazaki_top15[col] = rank
    elif rank >= 46 : #下位3位以内
        miyazaki_bottom3[col] = rank

print("宮崎市における上位15位の品目と割合ランキング")
for item, rank in miyazaki_top15.items():
    print(f"品目名: {item}, ランキング: {rank}")

print("\n宮崎市における下位3位の品目と割合ランキング")
for item, rank in miyazaki_bottom3.items():
    print(f"品目名: {item}, ランキング: {rank}")

# 可視化
df_miyazaki_ratio_rank_t = df_miyazaki_ratio_rank.T
df_miyazaki_ratio_rank_t.drop(df_miyazaki_ratio_rank_t.index[[0]]).plot.bar(figsize=(40,5))
plt.title("宮崎市における品目ごとの消費割合ランキング") #グラフにタイトルを追加
plt.ylabel("割合ランキング")  #y軸ラベルを追加
plt.show() #グラフを表示



---

ここで、クイズを出してくれるようインストラクションを書いたコードセルを挿入しておきましょう。クイズがじゃまだったら、↓下のコードセルを消すか、下方に移動して下さい。下方に移動するとそこより下のAIへの依頼のときだけ、このインストラクションが参照されます。

セルの消去は、セルをクリックして右上に現れるアイコンの中から「ゴミ箱」をクリック。下方への移動は、現れたアイコンの中から「↓」をクリック。

In [ ]:
# system instruction:
# ユーザはプログラミング初心者です。
# あなたの役割は、ユーザのコーディング依頼に応じる際、ユーザがプログラミングを習得できるようにすることです。
# ユーザのコーディング依頼に対してコードを生成する場合、依頼されたコードの実行後に、
# 「Pythonコードの書き方に関してユーザは何が分かってないかを自覚させるquiz」を日本語で出題するコードを生成して下さい。
# quizの解答に応じてユーザに日本語でフィードバックするコードも追加して下さい



---

# ヒストグラム
チューハイ・カクテルへの支出金額のヒストグラム

In [ ]:
import pandas as pd
import matplotlib.pylab as plt

file_name = "/content/SSDSE-C-2023.csv"
df = pd.read_csv(file_name, header=[0,1], encoding="shift_jis")
# print(df)

print(df.filter(like='チューハイ', axis=1))  # ヘッダーに'チューハイ'を含む列を検索

plt.hist(df[('LB110007','チューハイ・カクテル')])

# 散布図
りんご×オレンジの散布図

In [ ]:
!pip install japanize-matplotlib  # 日本語対応（グラフ中で日本語が表示できるようにする）

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import japanize_matplotlib  # 日本語対応（グラフ中で日本語が表示できるようにする）

file_name = "/content/SSDSE-C-2023.csv"
df = pd.read_csv(file_name, header=[0,1], encoding="shift_jis")
# print(df)

# print(df.filter(like='りんご', axis=1))  # ヘッダーに'りんご'を含む列を検索
# print(df.filter(like='オレンジ', axis=1))  # ヘッダーに'オレンジ'を含む列を検索

x = df[('LB061001','りんご')]
y = df[('LB061004','オレンジ')]
city = df[('City','市')]
# print(city)

plt.figure(figsize=(15, 12))
plt.scatter(x,y) # 散布図
for i in range(len(x)): # 各点に市のラベルを付ける
    # 文字が重なってしまう都道府県名の表示位置を調整
    if city[i] in ['神戸市', '千葉市', '徳島市', '長崎市', '鹿児島市', '高松市', '宇都宮市', '名古屋市']:
        plt.text(x[i], y[i], city[i], ha='left', va='bottom')
    else:
        plt.text(x[i], y[i], city[i], ha='right', va='bottom')

plt.xlabel('りんごへの支出額')
plt.ylabel('オレンジへの支出額')
plt.show()

# df_city_ringo_orange = df[[('City','市'),('LB061001','りんご'),('LB061004','オレンジ')]]  # 市の列とりんごの列とオレンジの列を抽出
# print(df_city_ringo_orange)

# 参考
以下は、「データのランキング」のセクション後半で、支出額を割合で上書きするプログラムの作成時に、その動作を小さいDataFrameで確認したときのもの。参考までに掲載します。

なお、本日の小テストはこの（下記の）プログラムに関する問題です。**わらかないときは、生成AIに尋ねると教えてくれるはずですが、答を尋ねるのでなく、プログラムの分からない点を質問したりする方をお勧めします。その方が力がつくので。答をすぐに教えることを避ける設定にしてあると、そのように対応してくれるかもしれません。**

In [ ]:
import pandas as pd

dfs = pd.DataFrame({'a': [1,2], 'b': [3,4], 'c': [5,6]})
print(dfs)

for column_name, item in dfs.iloc[:,1:3].items():
  dfs[column_name] = dfs[column_name] / dfs['a']
print(dfs)